* {
  border: 0px;
  margin: 0px;
  
}

nav {
  display: flex; 
  align-items: center;
  background-color: #21222a;
}

.nav--logo {
  width: 29px;
  height: 29px;
  padding: 31px 7px 31px 26px;
}

.nav--title {
  color: #61DAFB;
  font-family: Inter;
  font-weight: 700;
  font-size: 22px;
  margin-right: auto;
}

.nav--heading {
  color: #DEEBF8;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  padding: 38px 27px 32px 0px; 
}

main {
  background-color: #282D35;
  height:100vh;
  background-image: url(./images/react-icon-large.png);
  background-repeat: no-repeat;
  background-size: 180px;
  background-position-x: right;
  background-position-y: 89px;
}

.main--title {
  color: #FFFFFF;
  font-family: Inter;
  font-weight: 700;
  font-size: 39px;
  letter-spacing: -0.05em;
  padding: 57px 0px 0px 27px;
}

.main--list {
  color: #FFFFFF;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 46px 0px 0px 74px; 
}

.main--list > li {
  padding-block: 10px;
}

.main--list > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}